<div class="border-bottom row" style="margin-botton:16px; padding-bottom:8px;">
    <div class="col-9">
      <h4 style="color:rgb(120,120,120); margin-botton:4px;">{{art['title']}}</h3>
      <div><b>Continent: </b>{{art['continent']}}</div>
      <div><b>Threat level: </b>{{art['threatlevel']}}</div>
      <div><b>Text: </b>{{art['artikeltext']}}</div>
    </div>
    <div class="col-2">
      <a href="/artikel/{{art['id']}}" type="button" class="btn btn-outline-primary mt-2">Bewerben</a>
    </div>
</div>