<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scammer Scanner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
<body>
  {% include 'nav.html' %}
  <div class="container">
    <h1 class="text-center mb-2 mt-2">Scammer Scanner</h1>
  <h2 class="text-center mb-2 mt-2">About this site</h2>
  <p class="lead">Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. 
  Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. 
  Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. Lorem Ipsum. </p>
  <h2 class="text-center mb-2 mt-2">Artikel</h2>
  <div>
    {% for art in artikel %}
      {% include 'artikelitem.html' %}
    {% endfor %}
  </div">
  <div class="text-center">
  <button class="btn btn-primary mt-2">Kontakt</button>
  </div>
    </div>
   {% include 'footer.html' %}
</body>
</html>